<main>
    <!-- 검색창부분 -->
    <section>
        <div class="searching">
            <div class="search__bar">
                <input class="search__crew" type="search" placeholder="찾는 동아리를 입력하세요">
                <button>검색</button>
            </div>
        </div>
    </section>
    <hr>
    <!-- 인기모집동아리 10개순위리스트 -->
    <section>
        <div class="top__title">인기모집 동아리</div>
        <div class="top__subtitle">동아리원으로부터 검증된 좋아요수로 인기동아리를 알아보세요!</div>
        <div class="top__table">
            <!-- 추후 변수만들어 동적으로 변경되도록 수정 -->
            <table border="1">
                <thead class="tabtitle">
                    <td>순위</td>
                    <td>동아리명</td>
                    <td>좋아요수</td>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
                
                <!-- </tr>
                <tr>
                    <td>2</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>9</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>10</td>
                    <td></td>
                    <td></td>
                </tr> -->
            </table>
        </div>
    </section>
    <hr>
    <!-- 동아리 모집글 보이는 부분(여기도 동적으로 수정해야함) -->
    <section>
        <div class="crew__header">
            <div class="crew__title">전체</div>
            <button onclick="window.open('http://localhost/filter')" class="filter">필터링</button>
        </div>
        <div class="crew__box">
            <div class="crewpost">
                <div class="crew__info">
                    <div class="crew__name">oo동아리</div>
                    <div class="crew__like">#문화/예술 #비대면 #전국</div>
                    <div class="watch__crew">
                        <button>상세보기</button>
                        <button>좋아요</button>
                    </div>
                </div>
            </div>
            <div class="crewpost">
                <div class="crew__info">
                    <div class="crew__name">oo동아리</div>
                    <div class="crew__like">#문화/예술 #비대면 #전국</div>
                    <div class="watch__crew">
                        <button onclick="location.href='http://localhost/join'">상세보기</button>
                        <button>좋아요</button>
                    </div>
                </div>
            </div>
            <div class="crewpost">
                <div class="crew__info">
                    <div class="crew__name">oo동아리</div>
                    <div class="crew__like">#문화/예술 #비대면 #전국</div>
                    <div class="watch__crew">
                        <button>상세보기</button>
                        <button>좋아요</button>
                    </div>
                </div>
            </div>
            <div class="crewpost">
                <div class="crew__info">
                    <div class="crew__name">oo동아리</div>
                    <div class="crew__like">#문화/예술 #비대면 #전국</div>
                    <div class="watch__crew">
                        <button>상세보기</button>
                        <button>좋아요</button>
                    </div>
                </div>
            </div>
            <div class="crewpost">
                <div class="crew__info">
                    <div class="crew__name">oo동아리</div>
                    <div class="crew__like">#문화/예술 #비대면 #전국</div>
                    <div class="watch__crew">
                        <button>상세보기</button>
                        <button>좋아요</button>
                    </div>
                </div>
            </div>
            <div class="crewpost">
                <div class="crew__info">
                    <div class="crew__name">oo동아리</div>
                    <div class="crew__like">#문화/예술 #비대면 #전국</div>
                    <div class="watch__crew">
                        <button>상세보기</button>
                        <button>좋아요</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
    <!-- 페이지 넘기기(여기도 동적수정) -->
    <div class="btn-group">
        <button type="button"><</button>
        <button type="button">1</button>
        <button type="button">2</button>
        <button type="button">3</button>
        <button type="button">4</button>
        <button type="button">></button>
    </div>
    </section>
</main>

