<!-- 메인페이지 -->
<DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Crewpass</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <header>
            <!-- 로고 및 로그인부분 -->
            <nav>
                <button type="button" class="logo" onclick="location.href='http://localhost/'"> <img src="img/logo.JPG" width="200" height="60"></button> 
                <span class="login">
                    <a href="#">마이페이지</a>
                    <a href="#">로그아웃</a>
                </span>
            </nav>
        </header>
        <%- body %>
    </body>
    </html>